@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #D8D8D8;
}

.container {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 100px;
  display: flex;
}

.left-content, .right-content {
  flex-basis: 50%;
}

.left-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
  grid-gap: 2rem;
}

.card {
  width: 300px;
  background-color: #408E91;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
}
.right-content {
  width: 50%;
  text-align: center;
  color: black;
  position: fixed;
  top: 170px;
  right: 10px;
}

.right-content img {
  margin: 20px;
  height: 160px;
}

.right-content h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.abilities {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.abilities .group {
  background-color: #408E91;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 15px;
}

.btn-group {
  display: flex;
  /* justify-content: space-evenly; */
}

.btn-group button {
  outline: none;
  border: none;
  border-radius: 10px;
  width: 150px;
  padding: 6px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #408e9142;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: #408E91;
  font-size: 48px;
}

.no-pokemon-chosen {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #408e9142;
  border-radius: 10px;

}

@media only screen and (max-width: 480px){
  .card {
    width: 150px;
    font-size: 14px;
    display: block;
    align-items: center;
    text-align: center;
    padding: 5px auto;
    /* box-sizing: border-box; */
  }

  .card h2:first-child {
    margin: 10px auto auto auto;
  }

  .card h2:last-child {
    margin: auto auto 10px auto;
  }

  h1 {
    margin-bottom: 20px;
  }

  .container {
    display: block;
    flex-direction: column;
    padding-top: 35px;
  }
}
